.intro-texte {
    color: rgb(223, 184, 85);
    font-family: "Raleway-2";
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.paragraphe-1, .paragraphe-2, .paragraphe-3 {
    color: white;
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    opacity: 0.4;
    transition: opacity 1.5s ease;
    font-family: "Raleway-2";
    cursor: default;
}

.expertise-liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding: 0 40px;
    width: 100%;
}

.expertise-liste li {
    color: white;
    max-width: 60%;
    margin: 0 auto;
    line-height: 1.8;
    text-align: center;
    font-size: 24px;
    opacity: 0.5;
    transition: opacity 1.5s ease;
    font-family: "Raleway-2";
}

.bloc-passion:hover .paragraphe-1 {
    opacity: 1;
}

.bloc-approche:hover .paragraphe-3 {
    opacity: 1;
}

.bloc-expertise:hover .paragraphe-2,
.bloc-expertise:hover .expertise-liste li {
    opacity: 1;
}

.bloc-expertise {
    position: relative;
}

.bloc-expertise > * {
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .partie-principal {
        text-align: center;
    }
    .paragraphe-1, .paragraphe-2, .paragraphe-3 {
        opacity: 1;
    }
    .expertise-liste {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .expertise-liste li {
        font-size: 18px;
        padding-bottom: 50px;
        opacity: 1;
    }
}