.spitch-intro h2{
    color: rgb(223, 184, 85);
    text-align: center;
    font-family: "Raleway-2";
    font-style: italic;
    padding-top: 20px;
    font-size: 22px;
}

@media (max-width:768px){
    .spitch-intro{
        padding-top: 30px;
        padding-bottom:20px;
    }
    .a-propos{
        padding: 50px;
        padding-bottom: 30px;
    }
    .texte-h2{
        padding-bottom: 20px;
    }
}