.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hero a {
    width: fit-content;
    margin: 0 auto;
    display: block;
    text-decoration: none;
}

.hero p {
    font-size: 18px;
    font-family: 'source-sans-3', sans-serif;
    font-style: italic;
    max-width: 700px;
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 2;
}

.spitch-intro {
    color: white;
    font-size: 15px;
    font-family: "source-sans-3";
    padding-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: center;
    background: linear-gradient(to bottom, #000000, #1a1a1a);
    padding-bottom: 70px;
}
