* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
  
}

@font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway-Italic-VariableFont_wght.ttf") format("ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-3";
    src: url("/public/fonts/SourceSans3-VariableFont_wght.ttf") format("ttf");
    font-weight: normal;
    font-style: italic;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

h1 {
    color: #C7AE6A;
    font-size: 60px;
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-style: italic;
}
