* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-3";
    src: url("/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Raleway-2";
    src: url("/fonts/Raleway-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

body::before {
    content: "";
    position: fixed;
    top: var(--y, -1px);
    left: var(--x, -1px);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: white;
    opacity:5%;
    border-radius: 50%;
    pointer-events:none;
    z-index: 9999;
}

h1 {
    color: #C7AE6A;
    font-size: 48px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    animation: apparition 1s ease-in-out;
    padding-bottom: 20px;
}

@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: #C7AE6A;
    font-size: 40px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    animation: apparition 1s ease-in-out;
}