.card {
    background-color: #3b3b3b;
    border: 1px solid gold;
    border-radius: 8px;
    padding: 20px;
    width: 220px;
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
    border-color: white;
    filter: brightness(1.3);
    cursor: pointer;
}

.card h4 {
    color: gold;
    margin-bottom: 10px;
}

.cards-prestations {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

p {
    padding: 20px;
}