footer{
    color: #FFFFFF;
    margin-top: auto;
    position:fixed;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: gold; 
    padding:5px;
    font-size:17.5px;
    font-family: "source-sans-3",sans-serif;
    font-style: italic;
    filter: brightness(0.6);
    transition: filter 0.15s;
}

footer a:hover{
    filter: brightness(1.3);
    cursor: pointer;
}
svg {
    width: 1em;
    height: 1em;
}

.texte-icone{
    padding:5px;
    font-size: 17.5px;
}
.icone{
    color: goldenrod;
}