* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "source-sans-3";
    src: url("/fonts/SourceSans3-VariableFont_wght.ttf");
}

h2 {
    padding-top: 20px;
    padding-bottom: 30px;
}

p {
    padding: 20px;
}

h3 {
    color: white;
    text-align: center;
}

