.nav-principal{
    color:gold;
    text-decoration: none;
    font-size: 17.5px;
    font-family: "source-sans-3",sans-serif;
    font-style: italic;
    filter: brightness(0.6);
    transition: filter 0.15s;
}

.nav-principal:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

nav a {
    margin-left: 20px;
}