.nav-principal,.nav-principal-marge{
    color:gold;
    text-decoration: none;
    font-size: 17.5px;
    font-family: "source-sans-3",sans-serif;
    font-style: italic;
    filter: brightness(0.6);
    transition: filter 0.15s;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-principal-marge{
    margin-right: 40px;
}

.nav-principal:hover,.nav-principal-marge:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

.nav-liste {
    position: relative;
    display: inline-block;
    margin: 0;
}

.liste-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid gold;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    gap: 10px;
    z-index: 100;
    min-width: 2
    px;
}

nav a {
    margin: 0;
}